

/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* This is the style sheet for the Main Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4e9e2;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope','Playfair Display', 'Times New Roman', Times, serif;
    padding:5px;
    margin: 0;
}

.site-container site-container {
    display: -webkit-box;      /* Old iOS / Safari fallback */
    display: -webkit-flex;     /* Safari fallback */
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
    min-height: 100vh;
    margin: 10px;
}

.header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding: 5px;
}

.footer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
}

/* General Section Layout */
.read, .ask, .pray, .dev-notes, .thank-you {
    padding: 15px;
    min-height: 50px;
    min-width: 250px;
    max-width: 550px;

    border-radius: 10px;
}

.read {
    background-color: #1e3932;
    color: whitesmoke;
}

.ask {
    background-color: #006241;
    color: whitesmoke;
}

.pray {
    background-color: #dff9ba;
    background-color: #65C9A6;
    color: black;
}

/* Date */
.date-header {
    font-size:xx-large;
    font-weight: 800;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
    min-height: 50px;
    min-width: 250px;
    max-width: 650px;
}

button {
    min-width: 44px;
    min-height: 44px;
    max-height: 55px;
    padding: 8px;
    font-family: "Manrope", "Playfair Display", serif;
    font-weight: 500;
    background-color: #1e3932;
    color: whitesmoke;
    border-color: 0;
    border-radius: 8px;
}

.logo-container{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.mp-header-text {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.scripture-reference {
    font-weight: 500;
}

.content {
    padding: 5px;
}

.text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexible-textarea {
    field-sizing: content;
    resize: none;
    min-height: 3.5rem;
    max-height: 200px;
    width: 100%;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Manrope", "Playfair Display", serif;
    font-size: 16px;
    background-color: #d4e9e2;
    border: #1e3932;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.spacer {
    min-height: 15px;
}